* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


}

#root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: #242426;
}

body::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
  border: 3px solid #242426;
}

button {
  cursor: pointer;
}

.boxContent {
  width: 100%;
  margin-top: 20px;
}

.boxContent p {
  width: 95%;
  color: #a8a8a8;
  font-size: 14px;
  margin: 0 auto;
}

.greyBox {
  width: 95%;
  margin: 5px auto;
  border-radius: 10px;
  background-color: #242426;
}